/* 所有在top位置的toast提示 高度减少60 */
div[class*="Toastify__toast-container--top"] {
  top: 60px;
}
/* 所有在bottom位置的toast提示 高度增加200 */
div[class*="Toastify__toast-container--bottom"] {
  bottom: 200px;
}
/* 在顶部中央的toast提示 高度高一些 */
.Toastify__toast-container--top-center {
  top: 2px !important;
}
/* 在toast容器设置的类 */
.toastContainerClass {
  padding: 4px;
}

/* 带有滚动条 可识别换行  需要一个高度*/
.textReader {
  white-space: pre-wrap;
  overflow-y: scroll;
  overflow-x: auto;
  resize: both;
  /* height: 350px; */
}

/* 动画  animation: scrollToRowAnimation 5s; */
/* @keyframes scrollToRowAnimation {
  0% {
    background: #02c0ff;
  }
  25% {
    background: #04e8e8;
  }
} */
